.button {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.button__list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 50px;
  justify-content: center;
}

.button__card{
  margin-right: 8px;
}

.button__item {
  color: #212121;
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 3%;
  border: none;
  border-radius: 4px;
  padding: 6px 26px;
}

.button__item:hover{
  color: #ffffff;
  background-color: #2196F3;
}

/* list */

.main__section-project{
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main__list-project{
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding-bottom: 94px;
}

.main__card-project{
  border: 1px solid #EEEEEE;
  margin: 14px;
}

.main__project{
  width: 370px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
    position: relative;
    overflow: hidden;
}

.main__project-overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 30%;
  right: 0;
  background-color:  
  rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
              opacity 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
              background-color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main__project:hover .main__project-overlay{
opacity: 1;
transform: translateY(0);
}

.main__project-thumb{
  position: relative;
}

.main__project-thumb:hover{
  opacity: 1;
}

.main__project-meta {
  padding: 15px;
}

.main__project-name {
  margin-top: 0;
  margin-bottom: 10px;
}

.main__project-actions {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main__project-text{
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}


.main__project-title {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-right: 24px;
  padding-left: 24px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
}

.main__project-diskription{
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  color: #757575;
}