.work {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.work__list {
  display: flex;
  margin-top: 50px;
  margin-bottom: 94px;
}

.work__picture {
  margin-right: 30px;
  position: relative;
}

.work__picture:last-child {
  margin-right: 0;
}

.work__picture-titl {
  color: #ffffff;
  position: absolute;
  padding-top: 27px;
  top: 76%;
  bottom: 20px;
  right: 0;
  left: 0;
  text-align: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 3%;
}
